<div class="form-container">
  <h1 class="title">Загрузите фото ребёнка</h1>
  <div class="avatar-container">
    <label for="fileInput" class="avatar-label">
      <img [src]="photoPreview" class="avatar" alt="Аватар" />
    </label>
    <input id="fileInput" type="file" (change)="onFileSelected($event)" class="file-input" />
  </div>

  <input type="text" placeholder="Введите имя" class="input-field" />
  <input type="number" placeholder="Укажите возраст" class="input-field" />
  
  <select class="input-field">
    <option>Выберите пол ребенка</option>
    <option>Мальчик</option>
    <option>Девочка</option>
  </select>

  <button (click)="submitForm()" class="submit-button">Готово</button>

  <!-- Данные пользователя Telegram -->
  <h2>Данные пользователя Telegram:</h2>
  <p><strong>User ID:</strong> {{ user?.id }}</p>
  <p><strong>Username:</strong> {{ user?.username || "N/A" }}</p>
  <p><strong>First Name:</strong> {{ user?.first_name }}</p>
  <p><strong>Last Name:</strong> {{ user?.last_name || "N/A" }}</p>
</div>